:root {
  --main-color: #10cab7;
  --second-color: #ced7df;
  --ther-color: #8D8D8D;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Work Sans", sans-serif;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }

  .go-top {
    right: 40%
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* End Global Rules */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 65px;
}

.header {
  width: 80%;
  margin: auto;
  display: inherit;
  justify-content: space-between;
}

.logo {
  height: 100%;
  width: 60px;
}

.icon {
  height: 20px;
  width: 60px;
  padding: 5px;
  position: relative;
}

.icon span {
  position: absolute;
  height: 3px;
  width: 30px;
  background: #000;
  right: 0;
  top: 0;
  transition: .5s;
}

.icon span:first-child {
  top: 0;


}

.icon span:nth-of-type(2) {
  top: 7.5px;
  width: 15px;
  transition: .5s;
}

.icon span:nth-of-type(3) {
  top: 15px;
}

.icon:hover span:nth-of-type(2) {
  width: 30px;
}

.links {
  position: absolute;
  right: 13%;
  top: 0
}

ul {
  list-style: none;
  margin-top: 40px;
  width: 150px;
  padding-left: 0;
  background: #DFDFDF;
  display: none;
}

ul::before {
  content: "";
  position: absolute;
  border-width: 15px;
  border-style: solid;
  border-color: transparent transparent #DFDFDF transparent;
  top: 10px;
  right: 5px;
}

ul li {
  padding: 10px;
  cursor: pointer;
  transition: .3s;
}

ul li {
  border-bottom: 1px solid #B7B7B7;
}

ul a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}

ul a:hover {
  color: #007970
}

ul li:hover {
  padding-left: 20px;
}

.icon:hover ul {
  display: block;
}

.title_img {
  height: calc(100vh - 65px);
  width: 100%;
  background-image: url(../images/landing.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: .3;
}

.title_img div {
  text-align: center;
  max-width: 300px;
}

.title_img div h1 {
  font-size: 50px;
  font-weight: bold;
  color: var(--main-color);
}

.title_img div p {
  font-size: 20px;
  line-height: 1.8;
}

.contact,
.portfolio,
.features {
  margin-top: 80px;
  padding: 15px;
  background: #eee;
}

.features {
  margin-top: 0;
}

.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 15px;
}

.features .container div {
  text-align: center;
}

.features .container i {
  font-size: 60px;
  color: var(--main-color);
}

.features .container h3 {
  font-weight: 800;

}

.features .container .feat {
  max-width: 300px;
  margin: 20px;
}

.features .container .feat p {
  color: var(--ther-color);
}


.sp-title {
  text-align: center;
  line-height: .5;
  margin-bottom: 100px;
}

.sp-title h1 {
  letter-spacing: -4px;
  font-size: 80px;
  font-weight: 800;
  color: var(--second-color);
}

.sp-title p {
  font-size: 20px;
  margin-top: -45px;
  word-spacing: 2px;
  color: var(--ther-color)
}

.services,
.about {
  margin-top: 150px;
}

.services .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 15px
}

.services .container .serv {
  text-align: center;
  margin-top: 30px
}

.services .container .serv i {
  font-size: 40px;
  color: var(--main-color);
}

.services .container .serv p {
  color: var(--ther-color)
}


.portfolio .container {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 15px;

}

.portfolio .container .port {
  background: #fff;
  padding: 15px;
}

.portfolio .container .port p {
  color: var(--ther-color)
}

img {
  transition: .5s;
  max-width: 100%;
}

.ho {
  overflow: hidden;
  border-radius: 1rem;
}

.port:hover img {
  transform: scale(1.4) rotateZ(10deg);
}

.gg {
  width: 70%;
  margin: auto;
}

.about .container span {
  display: block;
  width: 50%;
  margin: 40px auto;
  border: 1px inset var(--main-color);
}

.about .container p {
  line-height: 2;
  text-align: center;
}

.about .container p:nth-child(2) {
  font-weight: bold;
}

.about .container p:last-child {
  color: var(--ther-color);
}


.contact .container form input,
textarea {
  width: 100%;
  margin: 20px auto;
  outline: none;
  border: 1px solid var(--main-color);
  border-radius: 2rem;
  padding: 15px;
  font-weight: bold;

}

.contact .container form input:focus::placeholder,
.txt-ar:focus::placeholder {
  padding-left: 20px;
  transition: .3s;
  color: var(--main-color);
}

.contact .container form input:focus,
.txt-ar:focus {
  box-shadow: 0 0 8px 1px var(--main-color);

}

.contact .container form input:last-child {
  width: 50%;
  background-color: var(--main-color);
  margin: auto 25%;
  color: snow;
}

.contact .container .p {
  color: #2c4755;
  font-size: 30px;
  font-weight: 900;
  text-align: center;
  letter-spacing: -3px;
}

.contact .container a {
  text-decoration: none;
  color: var(--main-color);
  font-weight: 900;
  font-size: 30px;
}

.cc {
  text-align: center;
  margin: 10px auto;
}

.contact .container .social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact .container .social i {
  padding: 5px;
}

footer {
  padding: 15px;
  background: #2c4755;
  color: white;
  text-align: center;
  position: relative;
}

footer p {
  font-size: 16px;
}

footer span {
  font-weight: 900;
  font-size: 18px;
  color: var(--main-color);
}

.go-top {
  position: absolute;
  bottom: 30px;
  right: 5px;
  height: 50px;
  width: 50px;
  line-height: 50px;
  border-radius: 1rem;
  font-size: 16px;
  text-decoration: none;
  color: snow;
  font-weight: 900;
  background-color: var(--main-color);
}